<div class="container my-5 pt-3">
	<div class="card">
		<div class="card-body">
			<h4>Registrar persona</h4>
			<hr>
			<form [formGroup]="frmInsertPerson">
				<div class="row">
					<div class="col-md-3 mb-3">
						<label for="">Nombre</label>
						<input type="text" formControlName="firstName" class="form-control">
						<div *ngIf="(firstNameFb.touched || firstNameFb.dirty) && firstNameFb.errors && firstNameFb.hasError('required')" class="divError">
							Este campo es requerido.
						</div>
					</div>
					<div class="col-md-3 mb-3">
						<label for="">Apellido</label>
						<input type="text" formControlName="surName" class="form-control">
						<div *ngIf="(surNameFb.touched || surNameFb.dirty) && surNameFb.errors && surNameFb.hasError('required')" class="divError">
							Este campo es requerido.
						</div>
					</div>
					<div class="col-md-3 mb-3">
						<label for="">DNI</label>
						<input type="text" formControlName="dni" class="form-control">
						<div *ngIf="(dniFb.touched || dniFb.dirty) && dniFb.errors && dniFb.hasError('required')" class="divError">
							Este campo es requerido.
						</div>
						<div *ngIf="(dniFb.touched || dniFb.dirty) && dniFb.errors && dniFb.hasError('pattern')" class="divError">
							Ingrese un formato correcto.
						</div>
					</div>
					<div class="col-md-3 mb-3">
						<label for="">Género</label>
						<div>
							<label for="genderM"><input type="radio" id="genderM" formControlName="gender" value="1"> Masculino</label>
							&nbsp;&nbsp;
							<label for="genderF"><input type="radio" id="genderF" formControlName="gender" value="0"> Femenino</label>
						</div>
						<div *ngIf="(genderFb.touched || genderFb.dirty) && genderFb.errors && genderFb.hasError('required')" class="divError">
							Este campo es requerido.
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 mb-3">
						<label for="">Fecha de nacimiento</label>
						<input type="date" formControlName="birthDate" class="form-control">
						<div *ngIf="(birthDateFb.touched || birthDateFb.dirty) && birthDateFb.errors && birthDateFb.hasError('required')" class="divError">
							Este campo es requerido.
						</div>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-3 mb-3">
						<label for="">Celular</label>
						<input type="text" formControlName="numberPhone" class="form-control">
						<div *ngIf="(numberPhoneFb.touched || numberPhoneFb.dirty) && numberPhoneFb.errors && numberPhoneFb.hasError('required')" class="divError">
							Este campo es requerido.
						</div>
					</div>
					<div class="col-md-3 mb-3">
						<label for="">Proveedor</label>
						<select class="form-control" formControlName="idProvider">
							<option *ngFor="let item of listProvider" [value]="item.idProvider">{{item.name}}</option>
						</select>
						<div *ngIf="(idProviderFb.touched || idProviderFb.dirty) && idProviderFb.errors && idProviderFb.hasError('required')" class="divError">
							Este campo es requerido.
						</div>
					</div>
					<div class="col-md-3 mb-3">
						<label>&nbsp;</label>
						<button class="btn btn-secondary w-100" (click)="clickAddPhone()">Agregar</button>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Número</th>
									<th>Proveedor</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let item of listPhone; let i = index">
									<td>{{item.number}}</td>
									<td>{{item.provider}}</td>
									<td class="text-end">
										<button class="btn btn-sm btn-danger" (click)="clickDeletePhone(i)">Eliminar</button>
									</td>
								</tr>
							</tbody>
						</table>
						<div *ngIf="tablePhoneIsValid === false" class="divError">
							Agrege al menos un teléfono
						</div>
					</div>
				</div>
				<hr>
				<cp-error-message [listErrorMessage]="listErrorMessage"></cp-error-message>
				<div class="row">
					<div class="col-md-3"></div>
					<div class="col-md-3"></div>
					<div class="col-md-3"></div>
					<div class="col-md-3">
						<button class="btn btn-primary w-100" (click)="save()">Guardar datos</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>